
.icon1,.icon2 ul{
    text-align: right;
    margin-right: 3%;
}
.icon3,.icon4 ul{
    text-align: left;
    margin-left: 2%;
}
li{
    list-style: none;
    display: inline-block;
    text-align: center;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: white;
}
.icon1,.icon2,.icon3,.icon4{
    display: flex;
    flex-direction: column;
    height: 100px;
}
.icon1 li {
    margin: 20px;
    padding: 5px;
    width: 70px;
    border: transparent;
    border-radius: 30px;
    box-shadow: 5px 10px 8px #888888
}
#ic1{
    background-image: linear-gradient(45deg,#ffc371,#ff5f6d);
}
#ic2{
    background-image: linear-gradient(45deg,#E100FF,#7F00FF);
}
#ic3{
    background-image: linear-gradient(45deg,#00d2ff,#3a7bd5);
}
#ic4{
    background-image: linear-gradient(45deg,#00d4ff,#0bec7c);
}
.icon2 li{
    margin: 20px 18px;
    padding: 10px;
    width: 35px;
    font-size: 20px;
    border: transparent;
    border-radius: 30px;
}
.icon{
    margin: 20px;
    padding: 5px;
    width: 120px;
    border: transparent;
    border-radius: 30px;
}
.icon2 a{
    font-size: 20px;
}
.icon4 li{
    border: 2px solid;
}